appdirs==1.4.4
asgiref==3.3.4
certifi==2020.6.20
cfgv==3.3.0
chardet==4.0.0
click==8.0.1
colorama==0.4.4
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2.1
django-heroku==0.3.1
filelock==3.0.12
Flask==2.0.1
gunicorn==20.1.0
identify==2.2.10
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
nodeenv==1.6.0
numpy==1.20.1
opencv-python==4.5.1.48
packaging==20.9
Pillow==8.2.0
pipenv==2020.11.15
pluggy==0.13.1
pre-commit==2.13.0
psycopg2==2.8.6
py==1.10.0
pyparsing==2.4.7
PySimpleGUI==4.38.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
tox==3.23.1
translate==3.5.0
urllib3==1.26.5
virtualenv==20.0.26
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
Werkzeug==2.0.1
whitenoise==5.2.0
